body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  margin-left: 40px;
}

#supportHero{
  background-color: rgb(56, 126, 209);
  color: white;
}

#supportHero a{
  color: white;
}

#supportWrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}

#supportHero input{
  padding: 20px 50px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}

.icon-hover {
  color: black;
  transition: color 0.3s ease;
}

.icon-hover:hover {
  color: #0D6EFD;
  cursor: pointer;
}
a, .foot{
  text-decoration: none;
  color: gray;
  cursor: pointer;
}

a, .foot:hover{
  color: #0D6EFD;
}

 .aboutImg{
  border-radius: 100%;
  width: 55%;
  height: 60%;
}

 li, .navbar:hover{
  color: #0D6EFD;
}

li,  .navactive{
  color: #0D6EFD;
}